/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Sponsors section styles */
  #sponsors {
    padding: 40px;
  }
  
  #sponsors h2 {
    color: #333;
  }
  
  #sponsors ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  /* Footer styles */
  footer {
    background-color: #808080;
    color: #9c9b9b;
    padding: 10px;
    text-align: center;
  }
  