
.venv
indicators/GBP_USD_ADX.csv
indicators/GBP_USD_ATR.csv
indicators/GBP_USD_BollingerBands_middle.csv
indicators/GBP_USD_BollingerBands_std.csv
indicators/GBP_USD_Histogram.csv
indicators/GBP_USD_MACD.csv
indicators/GBP_USD_OBV.csv
indicators/GBP_USD_RSI.csv
indicators/GBP_USD_Signal_Line.csv
indicators/ADX/ADX.csv
indicators/ATR/ATR.csv
indicators/BollingerBands_middle/BollingerBands_middle.csv
indicators/BollingerBands_std/BollingerBands_std.csv
indicators/Histogram/Histogram.csv
indicators/MACD/MACD.csv
indicators/OBV/OBV.csv
indicators/RSI/RSI.csv
indicators/Signal_Line/Signal_Line.csv
__pycache__/config_manager.cpython-310.pyc
__pycache__/input_handler.cpython-310.pyc
__pycache__/oanda_service.cpython-310.pyc
__pycache__/openai_service.cpython-310.pyc
__pycache__/speech_service.cpython-310.pyc
__pycache__/voice_printer.cpython-310.pyc
__pycache__/words.cpython-310.pyc
streaming_data/GBP_USD_D.csv
templates/index.html
Trading_Pal-main/Bing-GPT-Voice-Assistant-main/Bing-GPT-Voice-Assistant-main/.gitignore
Trading_Pal-main/Bing-GPT-Voice-Assistant-main/Bing-GPT-Voice-Assistant-main/main.py
Trading_Pal-main/Bing-GPT-Voice-Assistant-main/Bing-GPT-Voice-Assistant-main/README.md
temp.wav
pdf.py
wave.wav
TA_Lib-0.4.24-pp38-pypy38_pp73-win_amd64.whl
package-lock.json
package.json
indicators/GBP_USD_D.csv
Trading_Pal-main/GBP_USD_D.csv
Trading_Pal-main/__pycache__/words.cpython-310.pyc
Trading_Pal-main/__pycache__/backtest.cpython-310.pyc
indicators/GBP_USD_H1.csv
indicators/GBP_USD_H4.csv
indicators/GBP_USD_M1.csv
indicators/GBP_USD_M5.csv
indicators/GBP_USD_M15.csv
indicators/GBP_USD_M30.csv
tradinpal/__pycache__/backtest.cpython-310.pyc
tradinpal/__pycache__/config_manager.cpython-310.pyc
tradinpal/__pycache__/input_handler.cpython-310.pyc
tradinpal/__pycache__/oanda_service.cpython-310.pyc
tradinpal/__pycache__/openai_service.cpython-310.pyc
tradinpal/__pycache__/speech_service.cpython-310.pyc
tradinpal/__pycache__/voice_printer.cpython-310.pyc
tradinpal/templates/index.html
